.header {
    padding: 20px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--color-gray-100);
    z-index: 3;
    transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
    &.active {
        padding: 8px 0;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
        position: fixed;
    }
    &__wrapper {
        width: 100%;
        height: 100%;
        gap: 100px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }
    &__logo {
        font-size: 20px;
        font-weight: 700;
        white-space: nowrap;
        background-color: var(--color-white);
        padding: 10px 20px;
        border-radius: 100px;
    }
    &__nav {
        li {
            padding: 10px 20px;
            border-radius: 25px;
            transition: background-color .2s linear;
            @media (hover: hover) {
                &:hover {
                    background-color: var(--color-gray-100);
                }
                
            }
        }
    }
    &__actions {
        display: flex;
        gap: 15px;
    }
    .divider {
        margin-top: 15px;
    }
}
.burger {
    width: 20px;
    height: 16px;
    position: relative;
}
.burger .bottom-line,
.burger .middle-line,
.burger .top-line {
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    height: 2px;
    background-color: #000;
}

.burger .top-line {
    top: 0px;
    transition: all .2s ease-in-out
}

.burger .middle-line {
    top: 8px;
    transition: all .2s ease-in-out
}

.burger .bottom-line {
    top: 16px;
    transition: all .2s ease-in-out
}

.open .top-line {
    transform: translate3d(0, 6px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(45deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: all .3s ease-in-out
}

.open .middle-line {
    opacity: 0
}

.open .bottom-line {
    transition: all .3s ease-in-out;
    transform: translate3d(0, -10px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-45deg) skew(0deg, 0deg);
    transform-style: preserve-3d
}
.burger {
    display: none;
}

@media screen and (max-width: 1199.99px) {
    .header__actions {
        gap: 10px;
    }
    .header__nav li {
        padding: 10px;
    }
    
}
@media screen and (max-width: 1024.99px) {
    .header {
        position: relative;
        padding: 10px 0;
    }
    .header__nav-outer {
        position: absolute;
        background-color: var(--color--white);
        flex-direction: column;
        width: fit-content;
        padding: 30px;
        height: 100vh;
        top: 65px;
        right: -100%;
        box-shadow: -2px 5px 10px rgba(0,0,0,.1);
        transition: all .4s cubic-bezier(.8, .1, .01, .04);
        background-color: #fff;
        min-width: 320px;
        z-index: 9;
        &.active {
            right: 0;
        }
    }
    .header__nav ul {
        flex-direction: column;
    }
    .burger {
        display: block;
    }
    .header__wrapper {
        justify-content: space-between;
        gap: unset;
    }
    .header__inner {
        flex: initial;
        gap: 16px;
        align-items: center;
    }
    .link--primary {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width: 600.99px) {
    .header__logo {
        font-size: 16px;
    }
    .link--primary {
        width: 28px;
        height: 28px;
    }
    .header__actions {
        gap: 8px;
    }
    .header__logo {
        padding: 10px 14px;
    }
}