// --- PATHS ---
$imgpath: "../img";

// --- BREAKPOINTS ---
$w-mob-s:      450px;  // Small mobile
$w-mob:        640px;  // Mobile
$w-tab:        768px;  // Tablet
$w-tab-lg:     1024px; // Tablet large
$w-laptop:     1200px; // Laptop
$w-desktop-sm: 1400px; // Laptop
$w-min:        320px;  // Min screen
$w-max:        2560px; // Max screen


:root {
    --font-family: "Onest", sans-serif;
    --color-gray-100: #F2F2F2;
    --color-gray-150: rgba(0, 0, 0, 0.15);
    --color-gray-200: #F0F0F0;
    --color-gray-300: #EAEAEA;
    --color-gray-400: rgba(0, 0, 0, 0.4);
    --color-black: #000000;
    --color-white: #FFFFFF;
}

.flex {
    display: flex;
}
.flex-between {
    justify-content: space-between;
}
.flex-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}

.button {
    display: flex;
    height: 48px;
    padding: 13px 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button--primary {
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: 500;
    border-radius: 25px;
}
.button--outlined {
    color: var(--color-black);
    border: 1px solid var(--color-black);
    border-radius: 25px;
}

.link--primary {
    width: 45px;
    height: 45px;
    background-color: var(--color-black);
    border-radius: 100%;
    display: flex;
}
.w-100 {
    width: 100%;
}

.divider {
    height: 1px;
    background-color: var(--color-gray-150);
}
.list {
    li {
        padding-left: 20px;
        position: relative;
        &::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: var(--color-black);
            border-radius: 100%;
            position: absolute;
            left: 0;
            top: 3px;
        }
    }
}
.inpt {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 35px;
    padding: 0 15px;
    &::placeholder {
        color: rgba(0, 0, 0, 0.5);
    }
}
.title {
    font-size: 32px;
    font-weight: 900;
}

.text-center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, .h1 {
    font-size: 62px;
    font-weight: 700;
}
h2, .h2 {
    font-size: 32px;
    font-weight: 700;
}

h3, .h3 {
    font-size: 22px;
    font-weight: 600;
}

h4, .h4 {
    font-size: 18px;
    font-weight: 700;
}

.color--shaded {
    color: rgba(0, 0, 0, 0.5);
}
.color--black {
    color: var(--color-black);
}

.font-bold {
    font-weight: 700;
}

.right-oriented {
    padding: 50px 0;
    &__wrapper {
        margin-top: 35px;
    }
    &__descr {
        width: 51%;
        p:nth-child(1) {
            margin-bottom: 25px;
        }
    }
    .h2 {
        width: 34%;
    }
    .h3 {
        width: 40%;
    }
    ul.gap-25 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    li {
        padding-left: 15px;
        position: relative;
        &::before {
            content: "";
            display: inline-block;
            width: 5px;
            height: 5px;
            background-color: var(--color-gray-400);
            border-radius: 100%;
            position: absolute;
            left: 0;
            top: 7px;
        }
    }
    &.larger-title {
        .h2 {
            width: 38%;
        }
        .h3 {
            width: 45%;
        }
    }
    .descr-subtitle {
        font-size: 18px;
        margin-bottom: 25px;
    }
}

.left-oriented {
    padding: 50px 0;
    &__wrapper {
        margin-top: 35px;
    }
    &__descr {
        width: 51%;
    }
    .h2 {
        width: 34%;
    }
    .h3 {
        width: 40%;
    }
    &.larger-title {
        .h2 {
            width: 38%;
        }
    }
    ul.gap-25 {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    li {
        padding-left: 15px;
        position: relative;
        &::before {
            content: "";
            display: inline-block;
            width: 5px;
            height: 5px;
            background-color: var(--color-gray-400);
            border-radius: 100%;
            position: absolute;
            left: 0;
            top: 7px;
        }
    }
}

@media screen and (max-width: 1199.99px) {
    .button {
        padding: 13px 15px;
    }
}

@media screen and (max-width: 1024.99px) {
    .title {
        font-size: 48px;
    }
    .h1, h1 {
        font-size: 48px;
    }
}

@media screen and (max-width: 767.99px) {
    .title {
        font-size: 42px;
    }
    .h1 {
        font-size: 42px;
    }
    .right-oriented {
        &__wrapper {
            flex-wrap: wrap;
            text-align: center;
        }
        &__descr {
            width: 100%;
            margin-top: 35px;
        }
        .h3 {
            width: 100%;
        }
        .principe__descr {
            width: 100%;
            margin-top: 50px;
        }
        &.larger-title .h3 {
            width: 100%;
        }
        ul.descr-item, .descr-item.text-left {
            text-align: left;
        }
    }
}